
body{
    text-align: center;
    
}

.container{
    padding: 100px 0 0 50px;
}
.list-horizontal{
    padding: 0;
}
.post {
    display: none;
    &.active {
      display: block;
    }
  }

  .card-body {
    text-align: center;
    }
    
    .card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    .row.post{
        align-items: center;
    }

    .navbar {
        padding: 5px 30px 5px 30px;
        
    }
    
    .card {
        margin: auto;
        width: 134%;
        border: none;
        padding: 10px;
      }
      .list-group-item{
        margin-bottom: 40px;
      }
.list-group-item.active {
    display: none;
}

      /*Mobile RWD*/

@media (max-width: 767px) {
    .card {
        margin: auto;
        width: 80%;
        border: none;
        padding: 10px;
    }
    .card-body {
        text-align: center;
    }
    .navbar {
        padding: 5px 30px 5px 30px;
    }
    .container {
        padding: 30px 0 0 0;
    }
    .list-group-item {
        margin-left: 5px;
    }
}